body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  
  background: linear-gradient(135deg, #b389da, #8ec5fc);


}
.container {
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 10px;
  background-color: whitesmoke;
  font-family:Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(135deg, #ba99d9, #8ec5fc);

}
.common-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}
.form-input {
  height: 35px;
  margin-bottom: 20px;
  border: 1px solid rgb(52, 43, 226);
  padding-left: 15px;
  color: black;
}
.form-button {
  height: 35px;
  border: 1px solid rgb(76, 43, 226);
  color: blueviolet;
  cursor: pointer;
}
.error-p{
  color: red;
}

.message-p{
  color: green;
  text-align: center;
}

.carousel-caption {
  background-color: #0000007d;
  border-radius: 10px;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: black;
  border-radius: 5px;
}

.invalid-input{
  color: red;
  font-size: 12px;
  margin-top:-20px
}
button:disabled{
  cursor: not-allowed;
}
.max-width{
  width: 100%;
}